*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
html, body {
	height: 100%;
}
body {
	background-image: url("../../assets/images/whirlpool.png");
	display: flex;
	flex-direction: column;
	background-color: #cccccc;
	color: #777777;
	font-family: Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.content {
	width: 650px;
	background-color: #ffffff;
	padding: 20px;
	align-content: center;
}
.content p{
	padding: 6px;
}
#bio {
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}
.main-container {
	clear: both;
	overflow: auto;
	width: 960px;
	position: relative;
	flex: 1 0 auto;
}
.page-top {
	background-color: #ffffff;
	position: relative;
}
.nav-bar {
	position: absolute;
	right:0;
	top: 0;
}
.list li {
	display: inline-block;
	padding: 0px 15px;
	color: #777777;
	vertical-align: middle;
	border-left: 1px solid #dddddd;
	font-family: Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.list li a {
	color: #777777;
	text-decoration: none;
}
.list li a:hover{
	color: #4aaaa5;
}
.connect img {
width: 50px;
height: 50px;
}
.connect {
position: absolute;
right: 0;
top:95px;
padding: 20px;
align-content: center;
background-color: #ffffff;
}
.footer {
	height: 60px;
	text-align: center;
	border-style: solid none none none;
	border-color: #4aaaa5;
	border-top-width: 5px;
	background-color: #666666;
	width: 960px;
}
.footer p {
	padding: 10px 0;
	font-size: 10px;
	color: #ffffff;
}
h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}
h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	width: 240px;
	height: 60px;
	padding-top: 15px;
	text-align: center;
	font-size: 25px;
}
h2 {
	color: #4aaaa5;
}
hr {
	color: #777777;
}
/*CONTACT FORM SPECIFIC CSS*/	

input{
	width: 100%;
	margin-bottom: 10px;
	margin-top: 4px;
}
.message{
	height: 200px;
}
input[type=submit]{
	width: 15%;
	height: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
	border-color: none;
	border-style: none;
	font-size: 15px;
}
/*PORTFOLIO SPECIFIC CSS*/

.project{
	width: 200px;
	height:130px;
	margin: 5px 0;
	display: block;
	
}
.project img{
	width: 100%;
	height: 100%;
	background-image: url("../../assets/images/triangles.png");
}
.projectTitle {
	position: relative;
	bottom:40px;
	width: 200px;
	height: 30px;
	background-color: rgba(74,170,165,0.9);
	color: white;
	text-align: center;
	font-family: Georgia, serif;
	font-size: 20px;
	line-height: 40px;
}
td{
	padding: 10px 50px 10px 50px;
	align-content: center;
}
tr{
	padding-bottom: 10px;
}